.cartitems {
    margin: 100px 170px;
    align-items: center;
  }
  
  .cartitems-format-main {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1fr 1fr 1fr;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    background-color: #ede9e9;
  }
  
  .cartitems-format {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .carticon-product-icon {
    width: 50px;
    height: 50px;
    margin: auto;
  }
  
  .cartitems-quantity {
    width: 50px;
    text-align: center;
    background: #2312df;
    color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    justify-self: center;
  }
  
  .cartitems-remove-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: auto;
  }
  
  .cartitems-down {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cartitems-total,
  .cartitems-promocode {
    width: 45%;
  }
  
  .cartitems-total-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cartitems-promocode {
    margin-top: 20px;
  }
  
  .cartitems-promobox {
 
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;

  }
  
  .cartitems-promobox input {

    border: none;
    outline: none;
    background:transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;

  }
  
  .cartitems-promobox button {
    width: 170px;
    height: 58px;
    font-size: 16px;
    color: white;
    background: black;
  }
  
  .cartitems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  @media(max-width:1280px){
    .cartitems{
      margin: 60px 50px;
    }
    .cartitems-format-main{
      grid-template-columns:0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
      gap: 20px;
      padding: 15px 0px;
      font-size: 15px;
    }
    .carticon-product-icon{
      height: 50px;
    }
    .cartitems-remove-icon{
      margin: auto;
    }
    .cartitems-quantity{
      width: 40px;
      height: 30px;
    }
    .cartitems-down{
      margin: 80px 0px;
      flex-direction: column;
      gap: 80px;
    }
    .cartitems-total{
      margin: 0;
    }
    .cartitems-total button{
      max-width: 200px;
      height: 45px;
      font-size: 13px;
    }
    .cartitems-promobox{
      width: auto;
      max-width: 500px;
    }
    .cartitems-promobox input{
      width: 100%;
    }
    .cartitems-promobox button{
      width: 120px;
      margin-left: -125px;
    }
  }
  @media(max-width:500px){
    .cartitems-format-main{
      display: none;
      grid-template-columns: 0.5fr  3fr  0.5fr;
      gap: 10px;
    }
    .cartitems-format{
      display: grid;
    }
  }